/*
//	Link Overlay
*/

#pinpointLinkWrapper {
	display: block !important;
	position: fixed !important;
	z-index: 2147483647 !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	opacity: 0 !important;
	background-color: rgba(0, 0, 0, 0.25) !important;
	box-shadow: inset 0px 0px 500px 20px rgba(0, 0, 0, 0.5) !important;
	-webkit-transition: opacity 0.3s ease-out !important;
	pointer-events: auto !important;
}

#pinpointLinkContainer {
	display: block !important;
	position: absolute !important;
	height: 80px !important;
	width: 80% !important;
	top: 50% !important;
	left: 50% !important;
	margin-top: -40px !important;
	margin-left: -40% !important;
	opacity: 0 !important;
	background-color: #ededed !important;
	border-radius: 10px !important;
	box-shadow: 0px 0px 0px 10px rgba(25, 25, 25, 0.5), 0px 5px 10px 10px rgba(25, 25, 25, 0.25) !important;
	-webkit-transform: scale(0) !important;
	-webkit-transition-property: -webkit-transform, opacity !important;
	-webkit-transition-duration: 0.5s, 0.5s !important;
	-webkit-transition-timing-function: ease-out, ease-out !important;
}

#pinpointLinkPadding {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

input#pinpointLinkInput {
	display: block !important;
	height: 60px !important;
	width: 100% !important;
	background-color: #d5d5d5 !important;
	margin: 10px auto !important;
	padding: 0 !important;
	border: none !important;
	font: normal normal normal 40px 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, sans-serif !important;
	color: #000 !important;
	text-align: center !important;
}

input#pinpointLinkInput:focus { outline: none !important; }

#pinpointLinkWrapper.active { opacity: 1 !important; }

#pinpointLinkWrapper.active > #pinpointLinkContainer {
	opacity: 1 !important;
	-webkit-transform: scale(1) !important;
}

#pinpointLinkWrapper.hidden { display: none !important; pointer-events: none !important; }


/*
//	Element Highlighting
*/

#pinpointHighlightBackground {
	display: block !important;
	position: absolute !important;
	overflow: hidden !important;
	z-index: 2147483647 !important;
	height: auto !important;
	width: auto !important;
	opacity: 0 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3ec4f), to(#f0d346)) !important;
	background-image: -webkit-linear-gradient(#f3ec4f, #f0d346) !important;
	padding: 4px !important;
	border: 1px solid #f7e74d !important;
	border-radius: 5px !important;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.40) !important;
	-webkit-animation-name: pinpointHighlight !important;
	-webkit-animation-duration: 1.6s !important;
	pointer-events: none !important;
}

@-webkit-keyframes pinpointHighlight {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	10% {
		-webkit-transform: scale(1.425);
	}
	30% {
		-webkit-transform: scale(1);
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#pinpointHighlight[style] {
	position: relative !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	margin: 0px 0px 0px 0px !important;
	opacity: 1 !important;
	-webkit-text-fill-color: #000 !important;
	-webkit-font-smoothing: antialiased !important;
	pointer-events: none !important;
}

#pinpointHighlight[style] *[style] {
	-webkit-text-fill-color: #000 !important;
	-webkit-font-smoothing: antialiased !important;
	pointer-events: none !important;
}

#pinpointHighlight.noChildren[style] { padding: 0px 0px 0px 0px !important; }
