<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>preferStandardHashes</string>
		<key>Title</key>
		<string>Prefer Standard Hashes</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>frag</string>
		<key>Key</key>
		<string>highlightTarget</string>
		<key>Title</key>
		<string>Highlighting Targets</string>
		<key>Titles</key>
		<array>
			<string>Highlight All Targets</string>
			<string>Highlight CSSFrag Targets</string>
			<string>Don't Highlight Targets</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>all</string>
			<string>frag</string>
			<string>none</string>
		</array>
	</dict>
</array>
</plist>
